
.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

/*contact menu*/
.menu li {
  display: inline;
  list-style-type: none;

.banner {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 300px) {
  .banner {
    width: 100%;
  }
}

.container {
  width: 1600px;
  height: 500px;
  text-align: center;
}

}
.about {
  text-align: center;
}

.experience {
  background-color: #FCD3C5;
}

.education {
  background-color: #FFA08C;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  padding-top: 0;
}

.skills {
  background-color: #FCD3C5;
}
/*experience section title*/
#sectionheader {
  font-size: 4em;
  text-transform: uppercase;
  background-color: #FFA08C;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 1110px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#eduheader {
  font-size: 4em;
  text-transform: uppercase;
  background-color: #FCD3C5;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 1110px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#organization {
  font-weight: bold;
  font-size: 1.7em;
  font-family: 'Merriweather', serif;
}

#date {
  font-style: italic;
  font-size: 1.5em;
  font-family: 'Noto Sans JP', sans-serif;
}

#jobtitle {
  font-weight: bold;
  border-left: 4px solid #FFA08C;
  padding-left: 10px;
  font-size: 1.7em;
  font-family: 'Merriweather', serif;
}

p {
  border-left: 4px solid #FFA08C;
  padding-left: 10px;
  font-size: 1.5em;
  font-family: 'Noto Sans JP', sans-serif;
}

.do {
  list-style-type:none;
  border-left: 4px solid #FCD3C5;
  padding-left: 10px;
  font-size: 1.5em;
  font-family: 'Noto Sans JP', sans-serif;
}
