#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  font-family: 'Inria Serif', serif;
  font-size: 30px;
  text-align: center;
}
h2 {
  font-family: 'Inria Serif', serif;
  font-size: 22px;
  text-align: center;
}

h3 {
  text-align: center;
}

/*applies to all bylines and publciation dates*/
#byline {
  font-style: italic;
  font-family: 'Inria Serif', serif;
  font-size: 15px;
  text-align: center;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px:
}

.image {
  text-align: center;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
}


blockquote {
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #011895;
  margin-left: 40px;
  padding-left: 8px;
  border-left: 4px solid black;
}

li {
  list-style-type: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px:
}

#name {
  font-style: italic;
}

.menu li {
  border-left: 2px solid black;
  padding-left: 6px;
}
